.emailInputContainer{
    background-color: #424242;
}

.formSubmitContainer{
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-left: 300px;
}

:global(.vtex-input-prefix__group){
    border-color: #59ff00;
}

.vtex-button{
    background-color: black;
    color: #59ff00;
    border-color:#59ff00;
}